@charset "utf-8";

/* CSS Document */

.wrap {
    font-size:0;
}

/* ------------------------- Header : Start ------------------------- */
.header {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    height:60px;
    padding-right:52px;
    border-bottom:1px solid #E6EAED;
    background:#fff;
}



.header .logo {
    width:240px;
    height:60px;
    padding:19px 0;
    background:#262B34;
    text-align:center;
}
.header .logo a {
    display:inline-block;
    width:156px;
    height:22px;
    background:url(../images/Logo-LNB-156x22.svg) no-repeat;
}



.header .user-info > * {
    display:inline-block;
}
.header .user-info .name {
    position:relative;
    padding:23px 16px;
}
.header .user-info .name:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:1px;
    height:12px;
    margin:auto;
    background:#d9dbdd;
}



.header .user-info .notify {
    position:relative;
    padding:22px;
}
.header .user-info .notify .ico-notify {
    background:url(../images/Icon-Header-Notify-16x16.svg) no-repeat;
}
.header .user-info .notify .badge {
    position:absolute;
    top:12px;
    right:6px;
    height:15px;
    padding:0 5px;
    font-size:10px;
    font-weight:700;
    line-height:15px;
    background:#00C4C4;
    color:#fff;
    letter-spacing:0;
    border-radius:8px;
}



.header .user-info .biz-money {
    padding:23px 0 23px 24px;
}
.header .user-info .biz-money .fc-2 {
    margin-left:8px;
    letter-spacing:0;
}



.header .user-info .shadow .dropdown-toggle {
    display:inline-block;
    padding:18px 0 18px 24px;
}
.header .user-info .shadow .ico-shadow {
    margin-right:8px;
    background:url(../images/Icon-Header-User-24x24.svg) no-repeat;
}
.header .shadow .dropdown-menu {
    width:340px;
    margin-top:-6px;
}
.header .shadow .dropdown-menu .box-body {
    padding:20px;
}
.header .shadow .input-group.comp-search .inner-input-group.selected ~ .opt-selectbox {
    position:relative;
    box-shadow:none;
}
/* ------------------------- Header : End ------------------------- */





/* ------------------------- Content : Start ------------------------- */
.content {
    /*overflow:hidden;*/
    position:relative;
    height:100%;
}



/* LNB : Start */
.lnb {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    z-index:10;
    background:#1D2129;
    width:240px;
}



.lnb .one-depth.active > a,
.lnb .two-depth li.selected > a {
    color:#00B2B2;
}



.lnb .inner-lnb a {
    display:block;
    position:relative;
    padding:14px 40px 14px;
    font-size:15px;
    font-weight:700;
    line-height:1.5;
    color:#fff;
}
.lnb .one-depth > a:hover {
    background:#2e343e;
}
.lnb .one-depth.active > a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:3px;
    background:#00C4C4;
}
.lnb .one-depth .ico-arrow {
    position:absolute;
    top:0;
    right:36px;
    bottom:0;
    margin:auto;
    background:url(../images/Ico-LNB-Down-Arrow-16x16.svg) no-repeat;
}
.lnb .one-depth.active .ico-arrow {
    background:url(../images/Ico-LNB-Up-Arrow-16x16.svg) no-repeat;
}



.lnb .two-depth {
    padding:10px 0;
    background:#262B34;
}
.lnb .two-depth {
    display:none;
    margin-bottom:10px;
}
.lnb .one-depth.active .two-depth {
    display:block;
}
.lnb .two-depth a {
    padding:14px 40px 14px 60px;
    font-weight:500;
}
.lnb .two-depth a:hover {
    background:#303642;
}
/* LNB : End */



.lnb ~ .inner-content {
    margin-left:240px;
}
.inner-content {
    padding:60px 52px 0;
}




/* Content-Header : Start */
.content-header {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    margin-bottom:48px;
}
.content-header .box-tit > *,
.content-header .box-option > * {
    display:inline-block;
    vertical-align:middle;
}
.content-header .box-option > * {
    margin-left:10px;
}



.content-header .box-tit .fc-8 {
    margin-right:30px;
}
.content-header .breadcrumb li {
    display:inline-block;
    color:#c1c1c1;
}
.content-header .breadcrumb li.selected {
    color:#b2b2b2;
}
.content-header .breadcrumb li:after {
    content:'';
    display:inline-block;
    width:2px;
    height:2px;
    background:#c1c1c1;
    margin:-2px 12px;
    vertical-align:middle;
}
.content-header .breadcrumb li:last-child:after {
    display:none;
}



.content-header .box-option .select2-container--default .select2-selection--single {
    background:#f9f9f9;
}
/* Content-Header : End */



/* Content-Body : Start */

/* 크롬브라우저, 북마크바 없는 기준으로, 해상도마다 스크롤 생기지 않게 높이 처리 해둠 */
/* 1280 * 720 */
@media screen and (min-height:600px) and (max-height:770px) {
    .content-body {
        min-height:473px;
    }
}
/* 1600 * 900 */
@media screen and (min-height:771px) and (max-height:820px) {
    .content-body {
        min-height:653px;
    }
}
/* 1920 * 1080 */
@media screen and (min-height:821px) and (max-height:1080px) {
    .content-body {
        min-height:850px;
    }
    .home .content-body {
        /*        min-height:830px;*/
    }
}
/* 1920 * 1080 이상 */
@media screen and (min-height:1081px) {
    .content-body {
        min-height:1197px;
    }
    .home .content-body {
        /*        min-height:829px;*/
    }
}



.box-left,
.box-right {
    display:inline-block;
    vertical-align:middle;
}



/* Wrap-Section : Start */
.wrap-section {
    margin-bottom:52px;
    border:1px solid #e6eaed;
    background:#fff;
    border-radius:3px;
}
.wrap-section .box-header,
.wrap-section .box-footer,
.wrap-section ~ .wrap-btn-group {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:space-between;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align: center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    height:80px;
    padding:0 32px;
}



.wrap-section .box-header .box-tit,
.wrap-section .box-footer .box-left,
.wrap-btn-group .box-left {
    margin-right:auto;
}
.wrap-section .box-footer .box-center,
.wrap-btn-group .box-center {
    margin:auto;
}
.wrap-section .box-header .box-option,
.wrap-section .box-footer .box-right,
.wrap-btn-group .box-right {
    margin-left:auto;
}



.wrap-section .box-header .box-tit > *,
.wrap-section .box-header .box-option > *,
.wrap-section .box-footer .box-left > *,
.wrap-section .box-footer .box-right > * {
    display:inline-block;
    vertical-align:middle;
}
.wrap-section .box-header .box-option > *,
.wrap-section .box-footer .btn ~ .btn,
.wrap-section ~ .wrap-btn-group .btn ~ .btn {
    margin-left:10px;
}



.wrap-section .box-header {
    border-bottom:1px solid #e6eaed;
}
.wrap-section .box-header .box-tit .fc-3 {
    margin-top:2px;
    margin-left:12px;
}
.wrap-section .box-header .box-tit .fc-7 {
    display:inline-block;
    margin-top:2px;
    margin-right:10px;
}
.wrap-section .box-header .box-tit .fc-2 {
    /*    margin-top:2px;*/
    /*    line-height:1.5;*/
}
.wrap-section .box-header .box-tit .fc-2 .fc-10 {
    /*    margin-top:2px;*/
    /*    margin-right:8px;*/
}
.wrap-section .box-header .box-tit .ico-tooltip {
    /*    margin-top:-2px;*/
}
.wrap-section .box-header .box-tit .badge {
    /*    margin-left:-5px;*/
}
.wrap-section .box-header .box-option > .fc-6 {
    /*    margin-right:10px;*/
}



.wrap-section .box-footer {
    border-top:1px solid #e6eaed;
}
.wrap-section ~ .wrap-btn-group {
    height:auto;
    padding:30px 0 60px;
}



.wrap-section .wrap-section {
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.04);
}
.wrap-section .wrap-section .box-header {
    min-height:62px;
}
/* Wrap-Section : End */



/* Wrap-Tbl : Start */
.wrap-tbl .box-header:first-child {
    /*    border-top-left-radius:8px;*/
    /*    border-top-right-radius:8px;*/
}
.wrap-tbl .tbl {
    width:100%;
}
.wrap-tbl .tbl dl {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-line-pack:stretch;
    -webkit-align-content:stretch;
    align-items:stretch;
    width:100%;
    border-bottom:1px solid #e6eaed;
}
.wrap-tbl .tbl dl:last-of-type {
    border-bottom:none;
}
.wrap-tbl .tbl dt {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    width:250px;
    padding:32px 16px 32px 32px;
}
.wrap-tbl .tbl dt .dt-inner {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    flex-basis:100%;
    -ms-flex:0 1 100%;
    height:40px;
}
.wrap-tbl .tbl dd {
    /*    display:-ms-flexbox;*/
    /*    display:-webkit-flex;*/
    /*    display:flex;*/
    /*    -webkit-justify-content:center;*/
    /*    -ms-flex-pack:center;*/
    /*    justify-content:center;*/
    /*    -webkit-box-orient:vertical;*/
    /*    -ms-flex-direction:column;*/
    /*    flex-direction:column;*/
    width:calc(100% - 250px);
    padding:24px 16px 24px 0;
    /*    border-left:1px solid #e6eaed;*/
    /*    border-right:1px solid #e6eaed;*/
}
.wrap-tbl .tbl dd:last-of-type {
    /*    border-right:none;*/
}
.wrap-tbl .tbl .dl.vertical:only-child dd {
    /*    border-left:none;*/
}



.wrap-tbl .tbl dt .fc-1 {
    width:100%;
    line-height:1.5;
    word-break:keep-all;
}
.wrap-tbl .tbl dt .fc-2 {
    display:block;
    margin-top:5px;
    font-weight:normal;
}
.wrap-tbl .tbl dt .fc-6 > .fc-10 {
    margin-top:3px;
    margin-left:8px;
}
.wrap-tbl .tbl dt .ico-tooltip {
    margin-top:-3px;
    margin-left:2px;
}
.wrap-tbl .tbl dt .fc-7 {
    display:inline-block;
    margin-left:5px;
    font-style:normal;
}



.wrap-tbl .tbl dd .form-group {
    padding:8px;
}
.wrap-tbl .tbl dd .form-group > * {
    margin:0 8px;
    /*    margin:8px 16px 8px 0;*/
}
.wrap-tbl .tbl dd .form-group > *:last-child {
    /*    margin:8px 0;*/
}
.wrap-tbl .tbl dd .form-group > .btn {
    /*    margin:0 16px 0 0;*/
}
.wrap-tbl .tbl dd .form-group > .btn.xsmall {
    margin:7px 8px;
}
.wrap-tbl .tbl dd .form-group > .fz-13 ~ .btn {
    margin-left:10px;
}
.wrap-tbl .tbl dd .form-group > .input-group .inner-input-group ~ .btn {
    margin-left:5px;
}
.wrap-tbl .tbl dd .form-group > .input-group .inner-input-group ~ .comp-checkbox {
    margin-left:15px;
}
.wrap-tbl .tbl dd .form-group > .comp-checkbox.small {
    margin-right:32px;
}
.wrap-tbl .tbl dd .form-group > .comp-radio,
.wrap-tbl .tbl dd .form-group > .comp-checkbox {
    margin-right:32px;
}
.wrap-tbl .tbl dd .form-group > .fc-2 {
    line-height:1.5;
}
.wrap-tbl .tbl dd .form-group .fc-2 .fc-10 {
    /*    margin-top:1px;*/
    /*    margin-right:8px;*/
}



/* Comp-Txt : Start */
.comp-txt {
    min-height:40px;
    vertical-align:middle;
}
span.comp-txt {
    display:inline-block;
}
p.comp-txt {
    display:block;
}
.comp-txt .table {
    min-height:40px;
}
.comp-txt .table-cell {
    display:table-cell;
    vertical-align:middle;
}
.comp-txt .table-cell > * {
    display:inline-block;
    line-height:1.5;
    vertical-align:middle;
}
.comp-txt .table-cell > p {
    display:block;
    padding:4px 0;
}
/* Comp-Txt : End */



.wrap-tbl .wrap-tbl {
    margin:5px 0;
}
.wrap-tbl .tbl dd .form-group > .wrap-tbl:last-child {
    margin:10px 0;
}
.wrap-tbl .row ~ .row .wrap-tbl {
    margin-top:25px;
}
/* Wrap-Tbl : End */



/* Wrap-Tbl Vertical : Start */
.wrap-tbl .tbl dl.vertical {
    -webkit-box-orient:vertical;
    -ms-flex-direction:column;
    flex-direction:column;
}
.wrap-tbl .tbl dl.vertical > dt,
.wrap-tbl .tbl dl.vertical > dd {
    display:block;
    width:100%;
}



.wrap-tbl .tbl dl.vertical dt {
    padding:32px 32px 8px;
}
.wrap-tbl .tbl dl.vertical dt:only-child,
.wrap-tbl .tbl dl.vertical .form-group dt {
    border-bottom:none;
}
.wrap-tbl .tbl dl.vertical dt .dt-inner {
    /*    height:auto;*/
}



.wrap-tbl .tbl dl.vertical > dd {
    padding:0 16px 32px 16px;
    /*    border-left:none;*/
}
.wrap-tbl .tbl dl.vertical:only-child > dd {
    /*    border-left:none;*/
}
/* Wrap-Tbl Vertical : End */



/* Wrap-Tbl Column-Two : Start */
.wrap-tbl .tbl dl.column-two dd {
    width:calc(50% - 250px);
}



.wrap-tbl .tbl dl.vertical.column-two {
    -webkit-box-lines:multiple;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -ms-flex-direction:row;
    flex-direction:row;
}
.wrap-tbl .tbl dl.vertical.column-two dt {
    width:50%;
    -ms-flex-order:1;
    -webkit-order:1;
    order:1;
}
.wrap-tbl .tbl dl.vertical.column-two dd {
    width:50%;
    -ms-flex-order:2;
    -webkit-order:2;
    order:2;
}
.wrap-tbl .tbl dl.vertical.column-two dt {
    border-right:1px solid #efefef;
}
/* Wrap-Tbl Column-Two : End */



/* Wrap-Help : Start*/
.wrap-help {
    padding:20px 30px 10px;
    margin-bottom:30px;
    border:1px solid #e9e9e9;
    background:#f9f9f9;
    border-radius:8px;
    box-shadow:none;
}
.wrap-help .help-list {
    margin-bottom:10px;
}
.wrap-help .ico-help {
    margin-top:2px;
    margin-right:10px;
}
.wrap-help .fc-10,
.wrap-help .fc-3 {
    width:calc(100% - 26px);
    line-height:1.5;
    vertical-align:top;
}
.wrap-help .fc-3 .txt-link {
    margin-left:3px;
}
.wrap-help .btn {
    margin-left:2px;
    margin-bottom:2px;
}
/* Wrap-Help : End*/



/* Wrap-Datagrid : Start */
.wrap-datagrid .datagrid:only-child .panel-body {
    border-bottom:none;
}
.wrap-datagrid .datagrid ~ .datagrid {
    margin-top:30px;
    border-top:1px solid #efefef;
}
.wrap-datagrid .datagrid ~ .datagrid .panel-body {
    border-bottom:none;
}



.wrap-datagrid .box-body .row:first-child .wrap-datagrid {
    margin-top:30px;
}
.wrap-datagrid .box-body .row {
    padding:0 30px;
}

.wrap-datagrid .box-footer {
    height:auto;
    padding:24px 32px;
}
/* Wrap-Datagrid : End */



/* Wrap-Tablegrid : Start */
.wrap-tablegrid .box-body {
    overflow:hidden;
}
.wrap-tablegrid .tbl {
    overflow:auto;
    width:calc(100% - -1px);
}
.wrap-tablegrid .tbl ~ .tbl {
    margin-top:30px;
    border-top:1px solid #efefef;
}
.wrap-tablegrid table {
    width:100%;
}
.wrap-tablegrid table th,
.wrap-tablegrid table td {
    padding:12px 14px 13px;
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
    line-height:1.5;
    color:#898989;
    text-align:center;
}
.wrap-tablegrid table th {
    background:#fbfbfb;
}
.wrap-tablegrid table thead th {
    border-right:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    font-weight:500;
    background:#f5f5f5;
    color:#474747;
}



.wrap-tablegrid table .bg-value {
    background:#ffffef;
}
.wrap-tablegrid table .bg-hover,
.wrap-tablegrid table .bg-hover th,
.wrap-tablegrid table .bg-hover td,
.wrap-tablegrid table .bg-selected,
.wrap-tablegrid table .bg-selected th,
.wrap-tablegrid table .bg-selected td {
    background:#fcfdff;
}
.wrap-tablegrid table .border-gorup {
    border-bottom:2px solid #ddd;
}
.wrap-tablegrid .total th {
    font-weight:500;
    background:#f5f8fd;
    color:#474747;
}
.wrap-tablegrid .total-row th {
    font-weight:500;
    color:#717171;
}



.wrap-tablegrid table .ico-tooltip {
    margin-top:-3px;
}
.wrap-tablegrid table .ico-sort {
    width:6px;
    height:11px;
    margin-top:-3px;
    margin-left:10px;
    background-position:-40px -360px;
}
.wrap-tablegrid table .ico-sort.up {
    background-position:-80px -360px;
}
.wrap-tablegrid table .ico-sort.down {
    background-position:-120px -360px;
}



.wrap-tablegrid table td > .box-group > * {
    margin-right:2px;
    margin-bottom:10px;
}
.wrap-tablegrid table td .fc-4 ~ .fc-10 {
    margin-top:-1px;
}
.wrap-tablegrid table td .txt-dot {
    width:250px;
}
.wrap-tablegrid table .comp-no-data {
    height:600px;
    background:none;
}



.wrap-tablegrid .box-footer {
    border-top:none;
}



/* MediaQuery : Start */
@media screen and (max-width:2150px) {
    .wrap-tablegrid table {
        width:1920px;
    }
}
/* MediaQuery : End */

/* Wrap-Tablegrid : End */



/* Pagenation : Start */
.pagenation > * {
    vertical-align:middle;
}
.pagenation .list-total {
    font-size:16px;
    font-weight:400;
    color:#868E96;
}
.pagenation .select2-container {
    margin-right:16px;
}
.page-nav {
    display:inline-block;
    font-size:12px;
}
.page-nav * {
    float:left;
    vertical-align:middle;
}
.page-nav .btn-nav {
    width:32px;
    height:32px;
    border:1px solid #DDE2E6;
    border-radius:3px;
    cursor:pointer;
}
.page-nav .btn-nav:hover {
    background-color:#F2F4F6;
}
.page-nav .btn-nav.first,
.page-nav .btn-nav.next {
    margin-right:4px;
}
.page-nav .btn-nav.prev {
    margin-right:16px;
}
.page-nav .btn-nav.next {
    margin-left:16px;
}
.page-nav .btn-nav .ico {
    width:32px;
    height:32px;
}
.page-nav .btn-nav.first .ico {
    background:url(../images/Ico-Pagenation-Prev-First-Arrow-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.prev .ico {
    background:url(../images/Ico-Pagenation-Prev-Arrow-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.next .ico {
    background:url(../images/Ico-Pagenation-Next-Arrow-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.last .ico {
    background:url(../images/Ico-Pagenation-First-Next-Arrow-32x32.svg) no-repeat -1px -1px;
}
.page-nav .page-num {
    display:inline-block;
    width:32px;
    height:32px;
    padding:11px 0;
    font-size:12px;
    text-align:center;
    color:#202428;
}
.page-nav .page-num:hover,
.page-nav .page-num.selected {
    color:#00B2B2;
}



/* Disabled :Start */
.pagenation.disabled .list-total {
    color:#ADB5BD;
}
.page-nav .btn-nav:disabled {
    border:1px solid #F2F3F6;
    background-color:#F5F7F8;
    cursor:default;
}
.page-nav .btn-nav.first:disabled .ico {
    background:url(../images/Ico-Pagenation-Prev-First-Arrow-Disabled-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.prev:disabled .ico {
    background:url(../images/Ico-Pagenation-Prev-Arrow-Disabled-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.next:disabled .ico {
    background:url(../images/Ico-Pagenation-Next-Arrow-Disabled-32x32.svg) no-repeat -1px -1px;
}
.page-nav .btn-nav.last:disabled .ico {
    background:url(../images/Ico-Pagenation-First-Next-Arrow-Disabled-32x32.svg) no-repeat -1px -1px;
}
.pagenation.disabled .page-nav .page-num {
    color:#ADB5BD;
    cursor:default;
}
/* Disabled :End */



/* Pagenation : End */



/* Wrap-Filter : Start */
.wrap-filter {
    /*padding:30px;*/
    /*border-bottom:1px solid #efefef;*/
}
.wrap-filter .inner-filter {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:horizontal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    padding:24px 32px 24px 16px;
    border-bottom:1px solid #E6EAED;
}
.wrap-filter .box-left {
    width:calc(100% - 150px);
}
.wrap-filter .item-filter {
    display:inline-block;
    margin:8px 10px;
}



.wrap-filter .item-filter .filter-tit {
    display:block;
    margin:0 0 8px 6px;
    vertical-align:middle;
}
.wrap-filter .item-filter .filter-tit.block {
    margin-right:0;
    margin-bottom:15px;
}
.wrap-filter .item-filter .filter-tit .fc-2 {
    /*margin-top:16px;*/
}



.wrap-filter .item-filter .box-filter > *,
.wrap-filter .item-filter .box-filter {
    display:inline-block;
    vertical-align:middle;
}
.wrap-filter .item-filter .box-filter > * {
    margin:0 6px;
}
.wrap-filter .item-filter .box-filter .comp-checkbox,
.wrap-filter .item-filter .box-filter .comp-radio {
    margin-top:1px;
}



.wrap-filter .box-right {
    padding:10px 0;
}
.wrap-filter .box-right .btn {
    width:150px;
    height:100%;
}
/* Wrap-Filter : End */



/* Wrap-Dashboard : Start */
.wrap-dashboard {
    border:1px solid #e9e9e9;
}
.wrap-dashboard .box-body {
    padding:20px;
}
.wrap-dashboard .box-group {
    min-height:78px;
    padding:25px 30px;
    margin:10px;
    border-radius:8px;
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.04);
}
.wrap-dashboard .box-group.tit-header {
    min-height:60px;
    padding:15px 30px;
    border:1px solid #e9e9e9;
    background:#f9f9f9;
    box-shadow:none;
}
.wrap-dashboard .box-group .box-left {
    width:150px;
}
.wrap-dashboard .box-group .box-right {
    width:calc(100% - 150px);
    text-align:right;
}
.wrap-dashboard .txt-state {
    vertical-align:middle;
}
.wrap-dashboard .txt-state ~ .fc-7 {
    margin-top:-3px;
    /*    margin-left:15px;*/
}
.wrap-dashboard .col .fc-7,
.wrap-dashboard .col .fc-4 {
    line-height:28px;
}
.wrap-dashboard .col .fc-7 {
    width:150px;
}



.wrap-dashboard .col .ico {
    margin-top:8px;
}
.wrap-dashboard .ico-naver {
    width:68px;
    height:13px;
    background-position:-80px -400px;
}
.wrap-dashboard .ico-kakao {
    width:50px;
    height:16px;
    background-position:-160px -400px;
}
.wrap-dashboard .ico-google {
    width:65px;
    height:21px;
    background-position:-240px -400px;
}
.wrap-dashboard .col .badge {
    height:18px;
    margin-bottom:-2px;
    font-weight:500;
    line-height:18px;
    background:#ffd860;
    color:#353535;
    vertical-align:bottom;
    border-radius:0;
}



.wrap-dashboard .box-bottom {
    margin-top:20px;
    text-align:right;
}
.wrap-dashboard .box-bottom .fc-3 {
    margin-top:4px;
    margin-left:10px;
}
/* Wrap-Dashboard : End */



/* Wrap-Sortable : Start */
.wrap-sortable .wrap-tbl .tbl dl.vertical {
    display:block;
}



.wrap-sortable .item-add {
    position:relative;
}
.wrap-sortable .item-add .ico-delete {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:10px;
    height:10px;
    margin:auto;
    background-position:-360px -400px;
    cursor:pointer;
}



.wrap-sortable .box-group {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:590px;
    text-align:center;
}
.wrap-sortable .box-group .btn ~ .btn {
    margin-top:10px;
}



/* Type1 : Start */
.wrap-sortable.type1 .sortable {
    margin-left:-5px !important;
    margin-right:-5px !important;
}
.wrap-sortable.type1 .sortable .item-sortable {
    display:inline-block;
    width:calc(25% - 10px);
    margin:0 5px 10px;
}
/* Type1 : End */

/* Wrap-Sortable : End */



/* Wrap-Banner : Start */
.wrap-banner {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    overflow:hidden;
    position:relative;
    height:160px;
    border:1px solid #e9e9e9;
    text-align:center;
}
.wrap-banner .fc-2 {
    margin-top:12px;
}
.wrap-banner .box-group {
    margin-top:20px;
}
.wrap-banner .box-group .btn ~ .btn {
    margin-left:10px;
}



.wrap-banner.agency {
    background:url(../images/img-agency-management.png) no-repeat center;
}
.wrap-banner.inquiry {
    background:url(../images/img-inquiry.png) no-repeat center;
}
/* Wrap-Banner : End */



/* Wrap-Team : Start */
.wrap-team .box-header {
    height:auto;
    padding:30px;
}



.wrap-team .box-body .fc-4 {
    margin-left:3px;
}
.wrap-team .box-body .box-top {
    padding:12px 30px 13px;
    border-bottom:1px solid #efefef;
    background:#f9f9f9;
}



.wrap-team .box-body .box-bottom .scrollbar-inner {
    height:427px;
}
.wrap-team .inner-team-list {
    padding:10px 0;
}
.wrap-team .inner-team-list .team-list a {
    display:block;
    position:relative;
    padding:12px 20px 12px 50px;
}
.wrap-team .inner-team-list .team-list a:hover {
    background:#f9f9f9;
}
.wrap-team .inner-team-list .team-list a:before {
    content:'';
    position:absolute;
    top:0;
    bottom:1px;
    left:30px;
    width:14px;
    height:14px;
    margin:auto;
    background:url(../images/img-comm.png) no-repeat;
    background-position:-40px -680px;
}



.wrap-team .box-footer .btn ~ .btn {
    margin-left:50px;
}
.wrap-team .btn-ico {
    min-width:auto;
    height:auto;
    padding:0;
    border:none;
    line-height:1;
}
.wrap-team .btn-ico .ico {
    margin:0;
}



.wrap-team .btn-ico .ico-add {
    width:20px;
    height:20px;
    background-position:-40px -880px;
}
.wrap-team .btn-ico:hover .ico-add {
    background-position:-80px -880px;
}
.wrap-team .btn-ico:active .ico-add {
    background-position:-120px -880px;
}
.wrap-team .btn-ico:disabled .ico-add {
    background-position:-160px -880px;
}



.wrap-team .btn-ico .ico-delete {
    width:18px;
    height:20px;
    background-position:-40px -920px;
}
.wrap-team .btn-ico:hover .ico-delete {
    background-position:-80px -920px;
}
.wrap-team .btn-ico:active .ico-delete {
    background-position:-120px -920px;
}
.wrap-team .btn-ico:disabled .ico-delete {
    background-position:-160px -920px;
}



.wrap-team .btn-ico .ico-edit {
    width:20px;
    height:20px;
    background-position:-40px -960px;
}
.wrap-team .btn-ico:hover .ico-edit {
    background-position:-80px -960px;
}
.wrap-team .btn-ico:active .ico-edit {
    background-position:-120px -960px;
}
.wrap-team .btn-ico:disabled .ico-edit {
    background-position:-160px -960px;
}
/* Wrap-Team : End */



/* Wrap-Notify : Start */
.wrap-notify .notify-list {
    border-bottom:1px solid  #efefef;
}
.wrap-notify .notify-list:last-child {
    border-bottom:none;
}



.wrap-notify .notify-list .fz-13 {
    line-height:1.5;
}



.wrap-notify .notify-list .box-left {
    padding:25px 30px;
    vertical-align:top;
}
.wrap-notify .notify-list .box-left .fc-10:after,
.wrap-notify .notify-list .box-left .fc-9:after {
    content:'';
    display:inline-block;
    width:3px;
    height:3px;
    margin-left:10px;
    vertical-align:middle;
    border-radius:50%;
}
.wrap-notify .notify-list .box-left .fc-10:after {
    background:#f96262;
}
.wrap-notify .notify-list .box-left .fc-9:after {
    background:#55c9a4;
}



.wrap-notify .notify-list .box-right {
    width:calc(100% - 97px);
    padding:25px 30px;
    padding-left:0;
}
.wrap-notify .notify-list .box-right .fz-13 {
    display:inline-block;
    overflow:hidden;
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:middle;
}
.wrap-notify .notify-list .box-right .fc-2 {
    margin-top:20px;
}



.wrap-notify .notify-list.unread {
    background:#ffffef;
}
/* Wrap-Notify : End */



/* Wrap-Terms : Start */
.wrap-terms {
    margin-bottom:30px;
}
.wrap-terms .inner-content-terms > li {
    padding:0 0 50px 0;
    font-weight:400;
    line-height:1.5;
    color:#b2b2b2;
}
.wrap-terms .inner-content-terms > li:last-child {
    padding-bottom:0;
}
.wrap-terms h2 {
    margin-bottom:10px;
    font-weight:500;
    font-size:16px;
    color:#474747;
}
.wrap-terms h3 {
    margin:10px 0;
    font-size:14px;
    font-weight:500;
    color:#474747;
}
.wrap-terms .depth-terms > li {
    padding:3px 0;
    line-height:1.8;
}
.wrap-terms .depth-terms > li > span {
    display:inline-block;
    margin-top:-3px;
    margin-right:10px;
    font-weight:500;
    font-size:13px;
    vertical-align:middle;
}
.wrap-terms .depth-terms.num > li {
    padding-left:20px;
    text-indent:-10px;
}
.wrap-terms .depth-terms > li > .depth-terms > li {
    padding-left:20px;
}
/* Wrap-Terms : End */
/* ------------------------- Content : End ------------------------- */





/* ------------------------- Footer : Start ------------------------- */
.content-footer {
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    height:110px;
    margin:0 -52px;
    padding:0 52px;
    border-top:1px solid #e6eaed;
}



.content-footer .company-info li {
    display:inline-block;
    margin-right:22px;
    font-size:12px;
    color:#495057;
}



.content-footer .footer-menu li {
    display:inline-block;
}
.content-footer .footer-menu li a {
    font-size:12px;
    font-weight:700;
    vertical-align:middle;
    color:#495057;
}
.content-footer .footer-menu li:first-child:after {
    content:'';
    display:inline-block;
    width:2px;
    height:2px;
    margin:-2px 14px 0 14px;
    background:#495057;
    vertical-align:middle;
    border-radius:2px;
}
/* ------------------------- Footer : End ------------------------- */





/* ------------------------- Home : Start ------------------------- */

/* Home Common : Start */
.home {

}
.home .inner-content {
    background:#F8F9F9 url(../images/Home-BG1.png) no-repeat calc(50% - 25px) 20px;
}
.home .box-top {
    padding:4px 0 64px;
    text-align:center;
}
.home .box-top .main-title {
    display:inline-block;
    width:532px;
    height:68px;
    background:url(../images/Home-Main-Title.svg) no-repeat;
}
.home .box-top .fc-1 {
    margin:24px 0;
}
.home .box-bottom .wrap-tbl .tbl dd .form-group {
    padding:12px 8px;
}
.home .box-bottom .wrap-tbl .tbl dl.vertical > dd {
    padding:20px 16px;
}
.home .box .wrap-tbl {
    margin-bottom:32px;
}
.home .box-bottom .form-group * {
    vertical-align:middle;
}
.home .box-bottom .form-group .txt-state {
    margin:0 8px 0 24px;
}
.home .box-bottom .form-group .fc-2 {
    width:calc(100% - 192px);
}
.home .box-bottom .form-group .fc-2:hover {
    text-decoration:underline;
}
/* Home Common : End */



/* Box-Alert-List : Start */
.home .box-bottom .form-group .ico-unread {
    position:relative;
    padding-left:13px;
}
.home .box-bottom .form-group .ico-unread::before {
    content:'';
    display:inline-block;
    position:absolute;
    top:7px;
    left:0;
    width:5px;
    height:5px;
    margin-right:8px;
    background-color:#00C4C4;
    border-radius:50%;
}
.home .box-bottom .box-alert-list .form-group .fc-2 {
    width:calc(100% - 100px);
}
/* Box-Alert-List : End */



/* Box-Channel-List : Start */
.box-channel-list .wrap-tbl .box-footer {
    height:auto;
    padding:32px;
}
.box-channel-list .wrap-tbl .box-footer .btn.large {
    min-width:150px;
}
.box-channel-list .wrap-tbl .box-footer .btn ~ .btn {
    margin-left:16px;
}
.inquiry-group {
    text-align:center;
}
.inquiry-group .inquiry-element {
    display:inline-block;
    margin:53px 18px;
    text-align:center;
}
.inquiry-group .inquiry-element .ico {
    display:block;
    width:40px;
    height:40px;
    margin:auto;
    margin-bottom:16px;
}
.inquiry-group .inquiry-element.kakao .ico {
    background:url(../images/Icon-KaKao-Logo-40x40.svg) no-repeat;
}
.inquiry-group .inquiry-element.email .ico {
    background:url(../images/Icon-Email-40x40.svg) no-repeat;
}
.inquiry-group .inquiry-element.tel .ico {
    background:url(../images/Icon-Tel-40x40.svg) no-repeat;
}
/* Box-Channel-List : End */



/* Box-Current-State : Start */
/* Box-Current-State : End */



/* ------------------------- Home : End ------------------------- */





/* ------------------------- Dashboard-Home : End ------------------------- */
.dashboard-home .inner-content {
    position:relative;
    background:url(../images/img-dashboard-home-bg.png) no-repeat;
    background-size:cover;
}
.dashboard-home .inner-body {
    position:absolute;
    top:280px;
    right:0;
    bottom:0;
    left:0;
    width:700px;
    margin:auto;
}
.dashboard-home .wrap-section {
    margin-bottom:10px;
    border:1px solid #e9e9e9;
}
.dashboard-home .wrap-section:first-child {
    /*    margin-top:150px;*/
}
.dashboard-home .wrap-section .box-header {
    height:100px;
    padding:0 40px;
    border-bottom:none;
}
.dashboard-home .wrap-section .ico-negative {
    width:22px;
    height:22px;
    margin-top:-3px;
    margin-right:12px;
    background-position:-440px -360px;
}
/* ------------------------- Dashboard-Home : End ------------------------- */





/* ------------------------- Member : Start ------------------------- */
.member .inner-content {
    position:relative;
    background:url(../images/img-member-bg.png) no-repeat;
    background-size:cover;
}
.member .inner-content:before {
    content:'';
    position:absolute;
    top:150px;
    right:0;
    left:0;
    z-index:1;
    width:1670px;
    height:675px;
    margin:auto;
    background:url(../images/img-member-object.png) no-repeat;
}
.member .content-body {
    width:580px;
    margin:auto;
}



.member .wrap-section {
    display:table;
    position:relative;
    z-index:2;
    width:580px;
    min-height:700px;
    padding:70px 80px 70px;
    margin:30px 0;
    border:1px solid #e9e9e9;
}
.member .wrap-section .inner-section {
    display:table-cell;
    vertical-align:middle;
}
.member .wrap-section .box-header,
.member .wrap-section .box-footer {
    flex-direction:column;
    height:auto;
    border:none;
}



.member .wrap-section .box-header {
    padding:0;
    padding-bottom:55px;
}
.member .wrap-section .box-header .fc-7 {
    line-height:1.8;
    text-align:center;
}
.member .wrap-section .box-header .logo {
    margin-bottom:10px;
}
.member .wrap-section .box-header .logo a {
    display:inline-block;
    width:184px;
    height:38px;
    background:url(../images/img-login-logo-18438@3x.png) no-repeat center/184px 38px
}



.member .box-body > .fc-3 {
    margin-bottom:30px;
    line-height:1.8;
    text-align:center;
}
.member .box-body .box-group {
    border:1px solid #e9e9e9;
    margin-bottom:30px;
    border-radius:8px;
}
.member .box-group .box-top {
    padding:22px 30px;
    border-bottom:1px solid #efefef;
    text-align:center;
}
.member .box-group .box-bottom {
    padding:15px 30px;
    background:#f9f9f9;
}
.member .box-group .box-bottom > * {
    display:block;
    padding:10px 0;
}
.member .box-group .box-bottom .btn {
    margin-left:2px;
    margin-bottom:2px;
}
.member .box-body .form-group {
    padding-bottom:10px;
}
.member .box-body .form-group .box-right,
.member .box-body .form-group .box-left,
.member .box-body .form-group > .comp-checkbox {
    padding-top:10px;
}
.member .box-body .form-group .fc-6 {
    padding-top:10px;
    padding-bottom:20px;
}
.member .box-body .recaptcha {
    min-height:80px;
    margin:30px 0 10px;
}



.member .wrap-section .box-footer {
    padding:0;
    padding-top:40px;
}
.member .wrap-section .box-footer .btn ~ .btn {
    margin-top:15px;
    margin-left:0;
}
.member .box-footer .fz-14 {
    margin-top:22px;
}
/* ------------------------- Member : End ------------------------- */





/* ------------------------- Popup : Start ------------------------- */
.wrap-popup {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    background:rgba(0, 0, 0, 0.8);
}
.wrap-popup .inner-popup {
    position:relative;
    height:100%;
}
.wrap-popup .btn-close {
    position:absolute;
    top:-60px;
    right:0;
}
.wrap-popup .btn-close .ico-close {
    width:28px;
    height:28px;
    background-position:-80px -440px;
}
.wrap-popup .img-area {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:1000px;
    height:700px;
    margin:auto;
    background:url(../images/img-pattern-01.png) #fff;
    border-radius:8px;
}
.wrap-popup .img-area img {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    border:1px solid #e2e2e2;
}
/* ------------------------- Popup : End ------------------------- */





/* ------------------------- Btn-Scroll-Top : Start ------------------------- */
.btn-scroll-top {
    display:none;
    position:fixed;
    /*right:70px;*/
    right:40px;
    bottom:50px;
    z-index:100;
    width:40px;
    height:40px;
    background:url(../images/img-comm.png) no-repeat;
    background-position:-320px -1080px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0px 10px 20px 0px rgba(6,9,14,0.2);
    -moz-box-shadow:0px 10px 20px 0px rgba(6,9,14,0.2);
    box-shadow:0px 10px 20px 0px rgba(6,9,14,0.2);
}
/* ------------------------- Btn-Scroll-Top : End ------------------------- */