@charset "utf-8";
/* CSS Document */

@font-face {
    font-family:'Public Sans';
    font-weight:100;
    font-display:swap;
    src:local('Public Sans Thin'), url('woff/PublicSans-Thin.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:200;
    font-display:swap;
    src:local('Public Sans Extra Light'), url('woff/PublicSans-ExtraLight.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:300;
    font-display:swap;
    src:local('Public Sans Light'), url('woff/PublicSans-Light.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:400;
    font-display:swap;
    src:local('Public Sans Regular'), url('woff/PublicSans-Regular.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:500;
    font-display:swap;
    src:local('Public Sans Medium'), url('woff/PublicSans-Medium.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:600;
    font-display:swap;
    src:local('Public Sans Semi Bold'), url('woff/PublicSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:700;
    font-display:swap;
    src:local('Public Sans Bold'), url('woff/PublicSans-Bold.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:800;
    font-display:swap;
    src:local('Public Sans Extra Bold'), url('woff/PublicSans-ExtraBold.woff') format('woff');
}

@font-face {
    font-family:'Public Sans';
    font-weight:900;
    font-display:swap;
    src:local('Public Sans Black'), url('woff/PublicSans-Black.woff') format('woff');
}